./scripts/config --enable CONFIG_DEFAULT_HOSTNAME="SahrulGunawanID" \
                 --enable CONFIG_LOCALVERSION="(Kyro.Gold)" \
                 --enable CONFIG_HZ_PERIODIC \
                 --enable CONFIG_NO_HZ_FULL \
                 --enable CONFIG_NO_HZ \
                 --enable CONFIG_POSIX_AUX_CLOCKS \
                 --enable CONFIG_BPF_JIT_ALWAYS_ON \
                 --enable CONFIG_PSI \
                 --enable CONFIG_VIRT_CPU_ACCOUNTING_GEN \
                 --enable CONFIG_CFS_BANDWIDTH \
                 --enable CONFIG_RT_GROUP_SCHED \
                 --enable CONFIG_CGROUP_RDMA \
                 --enable CONFIG_CGROUP_DMEM \
                 --enable CONFIG_CGROUP_MISC \
                 --enable CONFIG_CHECKPOINT_RESTORE \
                 --enable CONFIG_RELAY \
                 --enable CONFIG_SYSFS_SYSCALL \
                 --enable CONFIG_HZ_1000 \
--enable CONFIG_PARAVIRT_TIME_ACCOUNTING \
--enable CONFIG_ARM64_ACPI_PARKING_PROTOCOL \
--enable CONFIG_PM_AUTOSLEEP \
--enable CONFIG_PM_USERSPACE_AUTOSLEEP \
--enable CONFIG_PM_WAKELOCKS \
--enable CONFIG_PM_QOS_CPU_SYSTEM_WAKEUP \
--enable CONFIG_CPU_IDLE_GOV_LADDER \
--enable CONFIG_CPU_IDLE_GOV_TEO \
--enable CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE \
--enable CONFIG_CPUFREQ_VIRT \
--enable CONFIG_ACPI_VIDEO \
--enable CONFIG_ACPI_TAD \
--enable CONFIG_ACPI_DOCK \
--enable CONFIG_ACPI_IPMI \
--enable CONFIG_ACPI_PCI_SLOT \
--enable CONFIG_ACPI_BGRT \
--enable CONFIG_ACPI_CONFIGFS \
--enable CONFIG_TRIM_UNUSED_KSYMS \
--enable CONFIG_BLK_DEV_ZONED \
--enable CONFIG_BLK_DEV_THROTTLING \
--enable CONFIG_BLK_WBT \
--enable CONFIG_BLK_CGROUP_IOLATENCY \
--enable CONFIG_BLK_CGROUP_IOCOST \
--enable CONFIG_BLK_CGROUP_IOPRIO \
--enable CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK \
--enable CONFIG_ZONE_DEVICE \
--enable CONFIG_PERCPU_STATS \
--enable CONFIG_TLS \
--enable CONFIG_XFRM_USER \
--enable CONFIG_IP_PNP_RARP \
--enable CONFIG_SYN_COOKIES \
--enable CONFIG_INET_ESP \
--enable CONFIG_IPV6_ROUTER_PREF \
--enable CONFIG_INET6_IPCOMP \
--enable CONFIG_INET6_ESP \
--enable CONFIG_IPV6_VTI \
--enable CONFIG_IPV6_TUNNEL \
--enable CONFIG_IPV6_MULTIPLE_TABLES \
--enable CONFIG_MPTCP \
--enable CONFIG_NETWORK_SECMARK \
--enable CONFIG_NETFILTER_NETLINK_ACCT \
--enable CONFIG_NF_NAT \
--enable CONFIG_NF_TABLES \
--enable CONFIG_IP_SET \
--enable CONFIG_IP_VS_PROTO_TCP \
--enable CONFIG_IP_VS_PROTO_UDP \
--enable CONFIG_IP_VS_IPV6 \
--enable CONFIG_NF_SOCKET_IPV4 \
--enable CONFIG_NF_TPROXY_IPV4 \
--enable CONFIG_NF_REJECT_IPV4 \
--enable CONFIG_BRIDGE_NF_EBTABLES \
--enable CONFIG_IP_SCTP \
--enable CONFIG_RDS \
--enable CONFIG_L2TP \
--enable CONFIG_BRIDGE_MRP \
--enable CONFIG_BRIDGE_CFM \
--enable CONFIG_CGROUP_NET_PRIO \
--enable CONFIG_CGROUP_NET_CLASSID \
--enable CONFIG_HOTPLUG_PCI_PCIE \
--enable CONFIG_PCIEAER_INJECT \
--enable CONFIG_PCIEASPM_PERFORMANCE \
--enable CONFIG_PCIE_ECRC \
--enable CONFIG_PCIE_DPC \
--enable CONFIG_PCIE_PTM \
--enable CONFIG_PCI_TSM \
--enable CONFIG_PCI_DOE \
--enable CONFIG_PCI_NPEM \
--enable CONFIG_PCI_PRI \
--enable CONFIG_PCIE_TPH \
--enable CONFIG_PCI_DYNAMIC_OF_NODES \
--enable CONFIG_HOTPLUG_PCI_ACPI_IBM \
--enable CONFIG_HOTPLUG_PCI_CPCI \
--enable CONFIG_HOTPLUG_PCI_SHPC \
--enable CONFIG_PCIE_MEDIATEK \
--enable CONFIG_PCIE_XILINX_CPM \
--enable CONFIG_PCIE_AL \
--enable CONFIG_PCI_SW_SWITCHTEC \
--enable CONFIG_CXL_BUS \
--enable CONFIG_PCCARD \
--enable CONFIG_RAPIDIO \
--enable CONFIG_MHI_BUS_EP \
--enable CONFIG_DMI_SYSFS \
--enable CONFIG_ISCSI_IBFT \
--enable CONFIG_FW_CFG_SYSFS \
--enable CONFIG_SYSFB_SIMPLEFB \
--enable CONFIG_EFI_ZBOOT \
--enable CONFIG_IMX_DSP \
--enable CONFIG_QCOM_TZMEM_MODE_GENERIC \
--enable CONFIG_GNSS_USB \
--enable CONFIG_FTL \
--enable CONFIG_NFTL \
--enable CONFIG_INFTL \
--enable CONFIG_SSFDC \
--enable CONFIG_MTD_SWAP \
--enable CONFIG_MTD_RAM \
--enable CONFIG_MTD_ROM \
--enable CONFIG_MTD_ONENAND \
--enable CONFIG_MTD_NAND_DENALI_PCI \
--enable CONFIG_MTD_NAND_GPIO \
--enable CONFIG_MTD_LPDDR \
--enable CONFIG_SPI_HISI_SFC \
--enable CONFIG_BLK_DEV_NULL_BLK \
--enable CONFIG_BLK_DEV_PCIESSD_MTIP32XX \
--enable CONFIG_ZRAM \
--enable CONFIG_BLK_DEV_DRBD \
--enable CONFIG_BLK_DEV_RAM \
--enable CONFIG_ATA_OVER_ETH \
--enable CONFIG_XEN_BLKDEV_BACKEND \
--enable CONFIG_BLK_DEV_RBD \
--enable CONFIG_NVME_MULTIPATH \
--enable CONFIG_NVME_HWMON \
--enable CONFIG_NVME_FC \
--enable CONFIG_NVME_TCP \
--enable CONFIG_NVME_HOST_AUTH \
--enable CONFIG_NVME_TARGET \
--enable CONFIG_SCSI_PROC_FS \
--enable CONFIG_CHR_DEV_ST \
--enable CONFIG_BLK_DEV_SR \
--enable CONFIG_CHR_DEV_SG \
--enable CONFIG_CHR_DEV_SCH \
--enable CONFIG_SCSI_SCAN_ASYNC \
--enable CONFIG_ISCSI_TCP \
--enable CONFIG_ISCSI_BOOT_SYSFS \
--enable CONFIG_SCSI_IPS \
--enable CONFIG_SCSI_VIRTIO \
--enable CONFIG_SCSI_DH \
--enable CONFIG_SATA_ZPODD \
--enable CONFIG_AHCI_IMX \
--enable CONFIG_AHCI_MTK \
--enable CONFIG_AHCI_SUNXI \
--enable CONFIG_SATA_ACARD_AHCI \
--enable CONFIG_PATA_ACPI \
--enable CONFIG_ATA_GENERIC \
--enable CONFIG_PATA_LEGACY \
--enable CONFIG_DM_CRYPT \
--enable CONFIG_DM_SNAPSHOT \
--enable CONFIG_DM_CACHE \
--enable CONFIG_DM_RAID \
--enable CONFIG_DM_SWITCH \
--enable CONFIG_FUSION \
--enable CONFIG_WIREGUARD \
--enable CONFIG_OVPN \
--enable CONFIG_EQUALIZER \
--enable CONFIG_NET_FC \
--enable CONFIG_IFB \
--enable CONFIG_IPVLAN \
--enable CONFIG_VXLAN \
--enable CONFIG_NETCONSOLE \
--enable CONFIG_PCNET32 \
--enable CONFIG_DNET \
--enable CONFIG_NE2K_PCI \
--enable CONFIG_QCOM_PPE \
--enable CONFIG_VIRT_WIFI \
--enable CONFIG_WAN \
--enable CONFIG_WWAN_HWSIM \
--enable CONFIG_XEN_NETDEV_BACKEND \
--enable CONFIG_INPUT_MOUSEDEV \
--enable CONFIG_MOUSE_GPIO \
--enable CONFIG_INPUT_JOYSTICK \
--enable CONFIG_INPUT_TABLET \
--enable CONFIG_SERIO_PCIPS2 \
--enable CONFIG_USERIO \
--enable CONFIG_GAMEPORT \
--enable CONFIG_I2C_VIRTIO \
--enable CONFIG_GPIO_VIRTIO \
--enable CONFIG_GPIO_SIM \
--enable CONFIG_GPIO_VIRTUSER \
--enable CONFIG_DVB_MMAP \
--enable CONFIG_DVB_NET \
--enable CONFIG_VIDEO_USBTV \
--enable CONFIG_DVB_USB_V2 \
--enable CONFIG_DVB_USB \
--enable CONFIG_SMS_USB_DRV \
--enable CONFIG_MEDIA_PCI_SUPPORT \
--enable CONFIG_DVB_PLATFORM_DRIVERS \
--enable CONFIG_DRM_EFIDRM \
--enable CONFIG_DRM_SIMPLEDRM \
--enable CONFIG_DRM_KMB_DISPLAY \
--enable CONFIG_DRM_VGEM \
--enable CONFIG_DRM_VKMS \
--enable CONFIG_FRAMEBUFFER_CONSOLE_LEGACY_ACCELERATION \
--enable CONFIG_FRAMEBUFFER_CONSOLE_ROTATION \
--enable CONFIG_LOGO_LINUX_VGA16 \
--enable CONFIG_IIO_BUFFER_DMA \
--enable CONFIG_VIRTIO_MEM \
--enable CONFIG_VIRTIO_INPUT \
--enable CONFIG_VIRTIO_RTC \
--enable CONFIG_VHOST_NET \
--enable CONFIG_HYPERV \
--enable CONFIG_USB_HIDDEV \
--enable CONFIG_VIRTIO_FS \
--enable CONFIG_VIRTIO_IOMMU \
--enable CONFIG_VIRTIO_VFIO_PCI  \
--enable CONFIG_VIRT_DRIVERS  \
--enable CONFIG_XEN_VIRTIO \
--enable CONFIG_VIRTIO_FS \
--enable CONFIG_VIRTIO_IOMMU \
--enable CONFIG_VIRTIO_VFIO_PCI  \
--enable CONFIG_VIRT_DRIVERS  \
--enable CONFIG_XEN_VIRTIO \
--enable CONFIG_ISO9660_FS \
--enable CONFIG_UDF_FS \
--enable CONFIG_MSDOS_FS \
--enable CONFIG_FAT_DEFAULT_UTF8 \
--enable CONFIG_EXFAT_FS \
--enable CONFIG_NTFS3_FS \
--enable CONFIG_NTFS_FS